:root {
	/* success */
	--hex-color-success: #28a745;
	--hex-color-success-lighten1: #3daf57;
	--hex-color-success-lighten2: #53b86a;
	--hex-color-success-lighten3: #68c17c;
	--hex-color-success-lighten4: #7eca8f;
	--hex-color-success-lighten5: #93d3a2;
	--hex-color-success-lighten6: #a9dbb4;
	--hex-color-success-lighten7: #bee4c7;
	--hex-color-success-lighten8: #d4edd9;
	--hex-color-success-lighten9: #e9f6ec;
	--hex-color-success-lighten10: #ffffff;
	--rgb-color-success: 40, 167, 69;
	--rgb-color-success-lighten1: 61, 175, 87;
	--rgb-color-success-lighten2: 83, 184, 106;
	--rgb-color-success-lighten3: 104, 193, 124;
	--rgb-color-success-lighten4: 126, 202, 143;
	--rgb-color-success-lighten5: 147, 211, 162;
	--rgb-color-success-lighten6: 169, 219, 180;
	--rgb-color-success-lighten7: 190, 228, 199;
	--rgb-color-success-lighten8: 212, 237, 217;
	--rgb-color-success-lighten9: 233, 246, 236;
	--rgb-color-success-lighten10: 255, 255, 255;
	/* danger */
	--hex-color-danger: #dc3545;
	--hex-color-danger-lighten1: #df4957;
	--hex-color-danger-lighten2: #e35d6a;
	--hex-color-danger-lighten3: #e6717c;
	--hex-color-danger-lighten4: #ea858f;
	--hex-color-danger-lighten5: #ed9aa2;
	--hex-color-danger-lighten6: #f1aeb4;
	--hex-color-danger-lighten7: #f4c2c7;
	--hex-color-danger-lighten8: #f8d6d9;
	--hex-color-danger-lighten9: #fbeaec;
	--hex-color-danger-lighten10: #ffffff;
	--rgb-color-danger: 220, 53, 69;
	--rgb-color-danger-lighten1: 223, 73, 87;
	--rgb-color-danger-lighten2: 227, 93, 106;
	--rgb-color-danger-lighten3: 230, 113, 124;
	--rgb-color-danger-lighten4: 234, 133, 143;
	--rgb-color-danger-lighten5: 237, 154, 162;
	--rgb-color-danger-lighten6: 241, 174, 180;
	--rgb-color-danger-lighten7: 244, 194, 199;
	--rgb-color-danger-lighten8: 248, 214, 217;
	--rgb-color-danger-lighten9: 251, 234, 236;
	--rgb-color-danger-lighten10: 255, 255, 255;
	/* warning */
	--hex-color-warning: #ffc107;
	--hex-color-warning-lighten1: #ffc71f;
	--hex-color-warning-lighten2: #ffcd38;
	--hex-color-warning-lighten3: #ffd351;
	--hex-color-warning-lighten4: #ffd96a;
	--hex-color-warning-lighten5: #ffe083;
	--hex-color-warning-lighten6: #ffe69b;
	--hex-color-warning-lighten7: #ffecb4;
	--hex-color-warning-lighten8: #fff2cd;
	--hex-color-warning-lighten9: #fff8e6;
	--hex-color-warning-lighten10: #ffffff;
	--rgb-color-warning: 255, 193, 7;
	--rgb-color-warning-lighten1: 255, 199, 31;
	--rgb-color-warning-lighten2: 255, 205, 56;
	--rgb-color-warning-lighten3: 255, 211, 81;
	--rgb-color-warning-lighten4: 255, 217, 106;
	--rgb-color-warning-lighten5: 255, 224, 131;
	--rgb-color-warning-lighten6: 255, 230, 155;
	--rgb-color-warning-lighten7: 255, 236, 180;
	--rgb-color-warning-lighten8: 255, 242, 205;
	--rgb-color-warning-lighten9: 255, 248, 230;
	--rgb-color-warning-lighten10: 255, 255, 255;
	/* info */
	--hex-color-info: #17a2b8;
	--hex-color-info-lighten1: #2eabbf;
	--hex-color-info-lighten2: #45b4c6;
	--hex-color-info-lighten3: #5cbdcd;
	--hex-color-info-lighten4: #73c7d4;
	--hex-color-info-lighten5: #8bd0db;
	--hex-color-info-lighten6: #a2d9e2;
	--hex-color-info-lighten7: #b9e3e9;
	--hex-color-info-lighten8: #d0ecf0;
	--hex-color-info-lighten9: #e7f5f7;
	--hex-color-info-lighten10: #ffffff;
	--rgb-color-info: 23, 162, 184;
	--rgb-color-info-lighten1: 46, 171, 191;
	--rgb-color-info-lighten2: 69, 180, 198;
	--rgb-color-info-lighten3: 92, 189, 205;
	--rgb-color-info-lighten4: 115, 199, 212;
	--rgb-color-info-lighten5: 139, 208, 219;
	--rgb-color-info-lighten6: 162, 217, 226;
	--rgb-color-info-lighten7: 185, 227, 233;
	--rgb-color-info-lighten8: 208, 236, 240;
	--rgb-color-info-lighten9: 231, 245, 247;
	--rgb-color-info-lighten10: 255, 255, 255;
}